# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
.env/

# Django
*.log
db.sqlite3

# macOS
.DS_Store

# VSCode
.vscode/

# Docker
*.pid
*.seed
*.pid.lock
*.db
*.sqlite3
.dockerignore

# Environment variables
.env

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Other
*.swp
